.username{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4vh;
  color: #777777;
  text-align: center;
}
.sebm-google-map-container {
  margin-top: 50vh;
  height: 20vh;
}
.profilepic {
  border: 0.3rem solid white;
  height: 12rem;
  width: 12rem;
  margin: auto;
}



