.username{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4vh;
  color: #777777;
  text-align: center;
}

.profilepic {
  border: 0.3rem solid white;
  height: 12rem;
  width: 12rem;
  margin: auto;
}



