.username{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4vh;
  color: #777777;
  text-align: center;
}
.sebm-google-map-container {
  margin-top: 5vh;
  height: 20vh;
}
.player-summary{
  height: 20vh;
}




