<div (mousemove)="myMap.triggerResize()">

  <img [src]="'../../../assets/avatars/'+player.avatar+'.png'" class="center-block img-circle profilepic" alt="avatar">
  <h3 class="username">{{player.username}}</h3>
  <p class="text-center"><strong>Wins: </strong>{{player.nrOfCompetitionsWon}}</p>

  <div class="col-xs-8 col-xs-offset-2">
    <sebm-google-map #myMap [latitude]="startpos.lat+0.6" [longitude]="startpos.lon-1" [zoom]="7">
      <sebm-google-map-marker [latitude]="startpos.lat" [longitude]="startpos.lon"></sebm-google-map-marker>
    </sebm-google-map>
  </div>

</div>
