#tracking-info{
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  color: #868686;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

p {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.data-desc{
  font-size:1.5rem;
  margin-left: 1rem;
  color: #868686;
}

#tracking-chart{
  padding: 2rem;
  margin-bottom: 3rem;
}

#tracking-map{
  padding: 0;
  margin-bottom: 3rem;
}

.sebm-google-map-container {
  height: 30rem;
  width: 100%;
}

