<div id="tracking-info" class="container background-container">
  <h1>{{tracking?.time | date:'EEEE'}} run</h1>
  <h2>{{tracking?.time | date:'HH:mm'}} - {{tracking?.time | date:'fullDate'}}</h2>
  <div class="tracking-info-coreData">
    <p>
      <span *ngIf="tracking?.totalDistance > 1000">{{(tracking?.totalDistance / 1000) | number: '1.0-2'}} km </span>
      <span *ngIf="tracking?.totalDistance <= 1000">{{tracking?.totalDistance}} m </span>
      <span class="data-desc">Total Distance</span>
    </p>
    <p>{{tracking?.totalDuration | SecondsToTime | date: 'H:mm:ss'}} <span class="data-desc">Total Duration</span></p>
    <p>{{tracking?.maxSpeed | number: '1.0-2'}} km/h <span class="data-desc">Maximum Speed</span></p>
    <p>{{tracking?.avgSpeed | number: '1.0-2'}} km/h <span class="data-desc">Average Speed</span></p>
    <p>{{tracking?.avgPace | SecondsToTime | date: 'mm:ss'}} <span class="data-desc">Average Pace</span></p>
  </div>
</div>

<div id="tracking-chart" class="container background-container">
  <div style="display: block;">
    <canvas baseChart width="400" height="100"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
<div id="tracking-map" class="container background-container">
  <sebm-google-map #myMap [latitude]="tracking?.coordinates[0]?.lat" [longitude]="tracking?.coordinates[0]?.lon" [zoom]="7" >
    <sebm-google-map-polyline [strokeColor]>
      <sebm-google-map-polyline-point *ngFor="let cor of tracking?.coordinates" [latitude]="cor.lat" [longitude]="cor.lon">
      </sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
  </sebm-google-map>
</div>
