h1, h2{
  text-align: center;
  font-weight: 100;
  margin:0;
}

h1{
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: white;
  letter-spacing: 2rem;
}

h2{
  font-size: 2rem;
  color: #dadada;
  letter-spacing: 0.3rem;
}

.heading{
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.login{
  padding-bottom: 3rem;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/img/frontpage_bg.jpg');
  background-size: cover;
  border-bottom: 2px solid #c3c3c3;
}
.info{
  background: #ffffff;
  border: 1px solid #c3c3c3;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding:2rem;
  padding-top: 0;
}

h3{
  text-align: center;
  font-weight: 100;
  color: #9e9e9e;
  padding: 2rem;
}

img{
  height: 10rem;
  margin-bottom: 2rem;
}

p{
  text-align: center;
  padding: 0 2rem;
}
