<div class="login container-fluid">
  <div class="heading">
    <h1>JAT</h1>
    <h2>JOGGING APART TOGETHER</h2>
  </div>
  <login class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12"></login>
</div>
<div class="info col-md-8 col-md-offset-2 col-xs-12">
  <h3>More info about JAT</h3>
  <img class="img-responsive center-block" src="../../assets/img/runningMan.png">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores culpa deleniti dignissimos dolore eligendi est exercitationem id inventore ipsa iusto laudantium maiores maxime modi odio porro possimus quae quam quas quasi qui, quisquam quos ratione reprehenderit sapiente tempore!</p>
</div>
