<form>
  <h3>Login</h3>
  <a
    id="googleLogin"
    type="button"
    class="btn btn-block btn-social btn-google"
    (click)="auth.loginWithGoogle()">
    <span class="fa fa-google"></span>
    Log In with Google
  </a>
  <a
    id="facebookLogin"
    type="button"
    class="btn btn-block btn-social btn-facebook"
    (click)="auth.loginWithFacebook()">
    <span class="fa fa-facebook"></span>
    Log In with Facebook
  </a>
  <p>or</p>
  <div class="form-group col-xs-12">
    <input
      id="username"
      type="text"
      class="form-control"
      placeholder="Username"
      #username>
  </div>
  <div class="form-group col-xs-12">
    <input
      id="password"
      type="password"
      class="form-control"
      placeholder="Password"
      #password>
  </div>
  <button
    id="login"
    type="submit"
    class="btn btn-default btn-primary col-xs-12"
    (click)="auth.login(username.value, password.value)">
    Log In
  </button>
  <button
    id="signup"
    type="submit"
    class="btn btn-default col-xs-6"
    (click)="auth.signup(username.value, password.value)">
    Sign Up
  </button>
  <button
    id="forgotPassword"
    type="submit"
    class="btn btn-default col-xs-6"
    (click)="auth.forgotPassword(username.value)">
    Forgot Password?
  </button>
</form>
