<div class="container">
  <div class="header">
    <h1>Friends</h1>
    <hr>
  </div>

  <ul class="nav nav-tabs">
    <li><a id="tab-my-friends" data-toggle="tab" href="#my-friends">My friends <span *ngIf="friends.length>0" class="badge">{{friends.length}}</span></a></li>
    <li><a id="tab-find-friends" data-toggle="tab" href="#find-friends">Search friends</a></li>
    <li><a id="tab-friend-requests" data-toggle="tab" href="#friend-requests">Friend requests <span *ngIf="requests.length>0" class="badge">{{requests.length}}</span></a></li>
  </ul>

  <!--My friends-->
  <div class="tab-content">
    <div id="my-friends" class="tab-pane fade in active w3-margin">
      <h3>My friends <span class="fa fa-users friends-icon"></span></h3>

      <input class="w3-input w3-border w3-padding w3-margin-bottom" type="text" placeholder="e.g. runtrackminds2017" id="my-input-friends"
             onkeyup="searchfunctionFriends()">


      <div class="no-data" *ngIf="friends.length==0">
        <h5 >No friends found. You can do friendship requests by clicking the <strong> "Search friends" </strong>
          tab or come back later.</h5>
      </div>

      <ul class="w3-ul" id="friends-list table-responsive">
        <li class="w3-padding-16 w3-card-4 w3-margin-bottom w3-margin-top" *ngFor="let friend of friends">
          <div class="w3-row w3-center">
            <span class="w3-xlarge username-span w3-center">{{friend.username}}</span><hr>
            <div class="w3-col m6 user-summary">
              <span *ngIf="friend.firstname"><strong>Firstname: </strong>{{friend.firstname}}</span><span *ngIf="!friend.firstname"><strong>Firstname: </strong> N/A</span><br>
              <span *ngIf="friend.lastname"><strong>Lastname: </strong>{{friend.lastname}}</span><span *ngIf="!friend.lastname"><strong>Lastname: </strong> N/A</span><br>
              <span *ngIf="friend.birthday"><strong>Birthday: </strong>{{friend.birthday}}</span><span *ngIf="!friend.birthday"><strong>Birthday: </strong> N/A</span>
            </div>
            <div class="w3-col m6">
              <button (click)="onClickRemoveFriend(friend.username)" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!--Find new friends-->
    <div id="find-friends" class="tab-pane fade w3-margin">
      <h3>Search friend <i class="material-icons">search</i></h3>

      <input class="w3-input w3-border w3-padding" type="text" placeholder="e.g. runtrackminds2017" id="my-input-search"
             onkeyup="searchfunction()">

      <div class="no-data" *ngIf="potentialFriends.length==0">
        <h5 >No users found. Please come back later.</h5>
      </div>

      <ul class="w3-ul" id="user-list">
       <li class="w3-padding-16 w3-card-4 w3-margin-bottom w3-margin-top" *ngFor="let potentialFriend of potentialFriends">
         <div class="w3-row w3-center">
           <span class="w3-xlarge username-span w3-center">{{potentialFriend.username}}</span><hr>
           <div class="w3-col m6 user-summary">
             <span *ngIf="potentialFriend.firstname"><strong>Firstname: </strong>{{potentialFriend.firstname}}</span><span *ngIf="!potentialFriend.firstname"><strong>Firstname: </strong> N/A</span><br>
             <span *ngIf="potentialFriend.lastname"><strong>Lastname: </strong>{{potentialFriend.lastname}}</span><span *ngIf="!potentialFriend.lastname"><strong>Lastname: </strong> N/A</span><br>
             <span *ngIf="potentialFriend.birthday"><strong>Birthday: </strong>{{potentialFriend.birthday}}</span><span *ngIf="!potentialFriend.birthday"><strong>Birthday: </strong> N/A</span>
           </div>
           <div class="w3-col m6">
             <button (click)="onClickAddFriend(potentialFriend.username)" class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
           </div>
         </div>
       </li>
      </ul>
    </div>

    <!--Friend requests-->
    <div id="friend-requests" class="tab-pane fade w3-margin">
      <h3>My friend requests</h3>

      <div class="no-data" *ngIf="requests.length==0">
        <h5 >No friendship requests at the moment. You can do friendship requests yourself by clicking the <strong> "Search friends" </strong>
          tab or come back later.</h5>
      </div>


      <ul class="w3-ul" id="requests-list">
        <li class="w3-padding-16 w3-card-4 w3-margin-bottom w3-margin-top" *ngFor="let user of requests">
          <div class="w3-container w3-center">
            <h3>{{user.username}} wants to be your friend!</h3><hr>
            <span *ngIf="user.firstname"><strong>Firstname: </strong>{{user.firstname}}</span><span *ngIf="!user.firstname"><strong>Firstname: </strong> N/A</span><br>
            <span *ngIf="user.lastname"><strong>Lastname: </strong>{{user.lastname}}</span><span *ngIf="!user.lastname"><strong>Lastname: </strong> N/A</span><br>
            <span *ngIf="user.birthday"><strong>Birthday: </strong>{{user.birthday}}</span><span *ngIf="!user.birthday"><strong>Birthday: </strong> N/A</span>
              <div class="w3-section">
              <button class="w3-btn w3-green" (click)="onClickAcceptFriend(user.username)" >Accept</button>
              <button class="w3-btn w3-red" (click)="onClickRemoveFriend(user.username)">Decline</button>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

