<div class="container background-container">
  <div class="header">
    <h1>Friends</h1>
    <h2>Find, meet and manage your friends</h2>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a id="tab-my-friends" data-toggle="tab" href="#my-friends">My friends</a></li>
    <li><a id="tab-find-friends" data-toggle="tab" href="#find-friends">Search friends</a></li>
    <li><a id="tab-friend-requests" data-toggle="tab" href="#friend-requests">Friend requests <span
      *ngIf="requests.length>0" class="badge">{{requests.length}}</span></a></li>
  </ul>

  <!--My friends-->
  <div class="tab-content">
    <div id="my-friends" class="tab-pane fade in active">
      <h3>My friends <span class="fa fa-users friends-icon"></span></h3>

      <input class="form-control" type="text" placeholder="Find one of your friends"
             id="my-input-friends"
             [(ngModel)]="queryStringMyFriends">


      <div class="no-data" *ngIf="friends==null || friends.length==0">
        <h5>No friends found. You can do friendship requests by clicking the <strong> "Search friends" </strong>
          tab or come back later.</h5>
      </div>

      <ul class="friendList" id="friends-list table-responsive">
        <li class="friendListItem" *ngFor="let friend of friends | SearchPipe:queryStringMyFriends">
          <friend-card [friend]="friend"></friend-card>
          <button (click)="onClickRemoveFriend(friend.username)" class="btn btn-danger"><i class="fa fa-minus"
                                                                                           aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>

    <!--Find new friends-->
    <div id="find-friends" class="tab-pane fade">
      <h3>Search friend <span class="material-icons">search</span></h3>

      <input class="form-control" type="text" placeholder="Find a new friend" id="my-input-search"
             [(ngModel)]="queryString">

      <div class="no-data" *ngIf="potentialFriends == null || potentialFriends.length==0">
        <h5>No users found. Please come back later.</h5>
      </div>

      <ul class="friendList" id="user-list">
        <li class="friendListItem"
            *ngFor="let potentialFriend of potentialFriends | SearchPipe:queryString">
          <friend-card [friend]="potentialFriend"></friend-card>
          <button (click)="onClickAddFriend(potentialFriend.username)" class="btn btn-success"><i
            class="fa fa-user-plus" aria-hidden="true"></i></button>
        </li>
      </ul>
    </div>

    <!--Friend requests-->
    <div id="friend-requests" class="tab-pane fade">
      <h3>My friend requests</h3>


      <div class="no-data" *ngIf="requests.length==0">
        <h5>No friendship requests at the moment. You can do friendship requests yourself by clicking the <strong>
          "Search friends" </strong>
          tab or come back later.</h5>
      </div>


      <ul class="friendList" id="requests-list">
        <li class="friendListItem" *ngFor="let user of requests">
          <friend-card [friend]="user"></friend-card>
          <button class="btn btn-success" (click)="onClickAcceptFriend(user.username)">Accept</button>
          <button class="btn btn-danger" (click)="onClickRemoveFriend(user.username)">Decline</button>
        </li>
      </ul>

    </div>
  </div>
</div>

