@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://www.w3schools.com/lib/w3.css");
.container{
  min-height:80vh;
}
.friends-icon {
  color:#5bc0de;
}
hr{
  padding-bottom: 5rem;
}
.w3-card-4 hr{
  padding-bottom: 1rem;
}
#add-friend{
  margin-right: 1rem;
}
.user-summary{
  text-align: left;
}
.no-data{
  margin-top: 3rem;
}

