.select-options, .select-options-time {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
select:active, select:focus{
  outline: none !important;
}

.select-options {
  margin-bottom: 2rem;
}

select {
  font-size: medium;
  margin: 0 1rem;
  border: none;
  background: #e6e6e6;
}

.container {
  margin-bottom: 3rem;
}

.container > p {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.list-container {
  padding: 0;
}

.pre-scrollable {
  padding-top: 0.5rem;
}

.history-list {
  border-bottom: 1px solid #e8e8e8;
}

.history-list:hover {
  background: #f2f2f2;
}

.history-list:last-child {
  border-bottom: none;
}
