<div class="container background-container">
  <h1>History</h1>

  <div class="select-options-time">
    <select [(ngModel)]="activeTimeFrame" (ngModelChange)="onTimeFrameChange($event)">
      <option *ngFor="let tf of timeFrame">
        {{tf}}
      </option>
    </select>
  </div>

  <div style="display: block;">
    <canvas baseChart width="400" height="100"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>

  <div class="select-options">
    <select [(ngModel)]="activeData"
            (ngModelChange)="onDataChange($event)">
      <option *ngFor="let d of data">
        {{d}}
      </option>
    </select>

    <select [(ngModel)]="activeHistoryType" (ngModelChange)="onHistoryTypesChange($event)">
      <option *ngFor="let h of historyTypes">
        {{h}}
      </option>
    </select>
  </div>

</div>
<div class="list-container container background-container">
  <p *ngIf="historyWrapperElements == null || historyWrapperElements.length == 0">No trackings present.</p>
  <div class="pre-scrollable">
    <div class="history-list col-xs-12" *ngFor="let h of historyWrapperElements">
      <a *ngIf="h.tracking != null" [routerLink]="['/history/tracking', h.tracking.trackingId]">
        <tracking-list-item class="col-xs-12" *ngIf="h.type == 'tracking'" [tracking]="h.tracking" [user]="user">
        </tracking-list-item>
      </a>
      <a *ngIf="h.competition != null" [routerLink]="['/history/competition', h.competition.competitionId]">
        <competition-list-item class="col-xs-12" *ngIf="h.type == 'competition'" [competition]="h.competition">
        </competition-list-item>
      </a>
    </div>
  </div>
</div>
