<div>
  <h3>Friends feed</h3>
  <p *ngIf="historyWrapperElements == null || historyWrapperElements.length == 0">No trackings present.</p>
  <div class="history-list col-xs-12" *ngFor="let h of historyWrapperElements">
    <tracking-list-item class="col-xs-12" *ngIf="h.type == 'tracking'" [tracking]="h.tracking">
    </tracking-list-item>
    <competition-list-item class="col-xs-12" *ngIf="h.type == 'competition'" [competition]="h.competition">
    </competition-list-item>
  </div>
</div>
<div>
</div>
