<div class="container" ng-app="runtrackerApp" ng-controller="profileCtrl">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="assets/img/nopicture.jpg" class="avatar img-circle" alt="avatar" id="profilepic">
        <h6>Upload a different photo...</h6>

        <span id="pictureselector">
        <label class="btn btn-default" for="upload-picture-selector">
            <input id="upload-picture-selector" type="file">
            <i class="fa_icon icon-upload-alt margin-correction"></i>Upload picture
        </label>
    </span>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-info"></i>
         Do not forget to press the <strong>save changes </strong> button after editing personal data.
      </div>
      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="user.firstname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="user.lastname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Address:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="user.address">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">City:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="user.city">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Birthday:</label>
          <div class="col-md-4">
            <input type="date" class="form-control" ng-model="user.birthday">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Gender:</label>
          <div class="col-md-4">
            <div class="ui-select">
              <select class="form-control" data-value="ng-model='user.gender'">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Undefined</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Length (cm):</label>
          <div class="col-md-4">
            <input class="form-control" type="number" ng-model="user.plength">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Weight (kg):</label>
          <div class="col-md-4">
            <input class="form-control" type="number" ng-model="user.weight">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>


