<div class="background-container container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <div *ngIf="!user.avatar" class="avatar img-circle text-center" alt="avatar" id="no-profilepic"><p id="text-no-profilepic">No profile picture</p></div>
        <img *ngIf="user.avatar" [src]="'../../../assets/avatars/'+user.avatar+'.png'" class="avatar img-circle" alt="avatar" id="profilepic">
          <select class="form-control" id="avatar-picker" [(ngModel)]="user.avatar">
            <option value="black">Black guy</option>
            <option value="blond">Blond girl</option>
            <option value="cat">Cat</option>
            <option value="cool-guy">Cool guy</option>
            <option value="dog">Dog</option>
            <option value="girl">Girl</option>
            <option value="naruto">Naruto</option>
            <option value="nerd">Nerd</option>
            <option value="robot">Robot</option>
            <option value="skater-girl">Skater girl</option>
            <option value="strong">Strong guy</option>
            <option value="war-girl">War girl</option>
          </select>
      </div>
    </div>
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-info"></i>
         Do not forget to press the <strong>Save Changes </strong> button after editing personal data.
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-4">
            <input (change)="onUsernameChange($event)" class="form-control" type="text" [(ngModel)]="user.username"  name="username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" [(ngModel)]="user.firstname"  name="firstname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" [(ngModel)]="user.lastname"  name="lastname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">City:</label>
          <div class="col-md-4">
            <input class="form-control" type="text" [(ngModel)]="user.city"  name="city">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Birthday:</label>
          <div class="col-md-4">
            <input type="date" class="form-control" [(ngModel)]="user.birthday"  name="birthday">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Gender:</label>
          <div class="col-md-4">
            <div class="ui-select">
              <select class="form-control" [(ngModel)]="user.gender"  name="gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="UNDEFINED">Undefined</option>
              </select>
            </div>
          </div>
        </div>
        <div id="errorMessage" class="error">{{errorMsg}}</div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-4 text-right">
            <input id="saveChanges" type="button" class="btn btn-primary" value="Save Changes"
                   (click)="onClickUpdateUser(user)">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

