.container {
  padding: 1rem 3rem;
}

.control-label {
  text-align: left;
}

#pictureselector {
  margin: 10px;
}

#upload-picture-selector {
  display: none;
}

.margin-correction {
  margin-right: 10px;
}

.form-group label {
  color: #404040;
}

h3 {
  color: #989898;
}

h6 {
  color: #404040;
}

#profilepic {
  border: 0.3rem solid #c1c1c1;
  height: 15rem;
  width: 15rem;
  margin-bottom: 2rem;
}

.error {
  font-weight: bold;
  color: darkorange;
  margin-bottom: 2rem;
}
.avatar-row{
  margin: 2rem;
}
.avatar-img{
  padding: 0.75rem;
}
.img-thumbnail{
  background: skyblue;
}

button:active, button:focus{
  outline: none !important;
}
