.editProfile{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../../assets/img/profileEdit_bg.jpg');
  background-size: cover;
}
h1{
  color: black;
}
h3{
  color: red;
}
label{
  color: white;
}
input[type='file'] {
  color: transparent;
}

