* {
  color: white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: white;
}

.navbar {
  background: #2e87fe;
}

.navbar-brand{
  letter-spacing: 0.4rem;
}

.navbar-nav > li > .active {
  text-decoration: underline;
  font-weight: bold;
}

ul {
  width: 90%;
  float: right;
}

@media (max-width: 768px) {
  ul {
    float: none;
  }
}

#logout {
  cursor: pointer;
}
