.navbar-nav > li > .active {
  text-decoration: underline;
  font-weight: bold;
}
ul{
  width: 90%;
  float: right;
}
@media (max-width: 768px){
  ul{
    float: none;
  }
}
#logout{
  cursor: pointer;
}
