:host {
  padding: 2rem 10rem;
}

.records {
  padding: 2rem 15rem;
}

.trophy {
  margin: auto;
  margin-bottom: 2rem;
}
.coreInfo {
  border-top: 1px solid #d6d6d6;
  display: flex;
  align-items: stretch;
}

.speed, .competitions{
  margin: auto;
}
.quantity-lg {
  font-size: 2rem;
  color: black;
}

.quantity-sm {
  font-size: 1.5rem;
  color: black;
}

span {
  color: #9e9e9e;
}

@media screen and (max-width: 750px){
  :host {
    padding: 2rem;
  }

  .records {
    padding: 2rem;
  }
}
