<div class="records col-xs-12">
  <div id="ranTenKm" class="col-xs-4 text-center">
    <div class="trophy" [ngStyle]="setTrophies(coreInfo?.ranTenKm)"></div>
    <span>10 km</span>
  </div>
  <div id="ranTwentyKm" class="col-xs-4 text-center">
    <div class="trophy" [ngStyle]="setTrophies(coreInfo?.ranTwentyKm)"></div>
    <span>20 km</span>
  </div>
  <div id="ranMarathon" class="col-xs-4 text-center">
    <div class="trophy" [ngStyle]="setTrophies(coreInfo?.ranMarathon)"></div>
    <span>Marathon</span>
  </div>
</div>
<div class="coreInfo col-xs-12">
  <div class="competitions col-xs-4">
    <div id="nrOfCompetitionsWon" class="text-center">
      <h2>{{coreInfo?.nrOfCompetitionsWon}}</h2>
      <span>Nr of competitions won</span>
    </div>
    <div id="nrOfCompetitionsDone" class="text-center">
      <h2>{{coreInfo?.nrOfCompetitionsDone}}</h2>
      <span>Nr of competitions done</span>
    </div>
  </div>

  <div class="distance col-xs-4">
    <div id="totalDistance" class="text-center">
      <h3>{{coreInfo?.totalDistance}} <span class="quantity-sm">km</span></h3>
      <span>Total distance</span>
    </div>
    <div id="avgDistance" class="text-center">
      <h3>{{coreInfo?.avgDistance}} <span class="quantity-sm">km</span></h3>
      <span>Average distance</span>
    </div>
    <div id="maxDistance" class="text-center">
      <h3>{{coreInfo?.maxDistance}} <span class="quantity-sm">km</span></h3>
      <span>Maximum distance</span>
    </div>
  </div>

  <div class="speed col-xs-4">
    <div id="avgSpeed" class="text-center">
      <h2>{{coreInfo?.avgSpeed}} <span class="quantity-lg">km/h</span></h2>
      <span>Average speed</span>
    </div>
    <div id="maxSpeed" class="text-center">
      <h2>{{coreInfo?.maxSpeed}} <span class="quantity-lg">km/h</span></h2>
      <span>Maximum speed</span>
    </div>
  </div>
</div>
