:host {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.avatar {
  padding-right: 3rem;
}

.person{
  background: url("../../../../assets/avatars/black.png");
  background-size: cover;

  width: 70px;
  height: 70px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.tracking-summary {
  width: 100%;
  color: #777777;
}

.creation {
  float: right;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0a568c;
  margin: 0.5rem 0 0.5rem 0;
}

.winning-data {
  margin: 0;
}

.winning-data > span {
  margin-right: 2rem;
}

a {
  text-decoration: none;
}
