<main class="container">

  <div class="col-xs-12 background-container">
    <div class="row">
      <h1 class="text-center">{{user.username}}</h1>
      <hr>
      <div id="personal-info">
        <p><strong class="col-xs-6">First name: </strong><span class="col-xs-6" *ngIf="user.lastname"> {{user.firstname}}</span>
          <span class="col-xs-6" *ngIf="!user.firstname"> N/A</span></p>
        <p><strong class="col-xs-6">Last name: </strong><span class="col-xs-6" *ngIf="user.lastname"> {{user.lastname}}</span>
          <span class="col-xs-6" *ngIf="!user.lastname"> N/A</span></p>
        <p><strong class="col-xs-6">City: </strong><span class="col-xs-6" *ngIf="user.city">{{user.city}}</span>
          <span class="col-xs-6" *ngIf="!user.city"> N/A</span></p>
        <p><strong class="col-xs-6">Birthday: </strong><span class="col-xs-6" *ngIf="user.birthday">{{user.birthday}}</span>
          <span class="col-xs-6" *ngIf="!user.birthday"> N/A</span></p>
        <p><strong class="col-xs-6">Gender: </strong>
          <span class="col-xs-6" *ngIf="user.gender">
            <span *ngIf="user.gender=='male'"><i class="fa fa-mars"></i></span>
            <span *ngIf="user.gender=='female'"><i class="fa fa-venus"></i></span>
            <span *ngIf="user.gender=='undefined'"><i class="fa fa-genderless"></i></span>
          </span>
          <span class="col-xs-6" *ngIf="!user.gender"> N/A</span>
        </p>
      </div>
    </div>
  </div>

  <core-info [coreInfo]="coreInfo" class="col-xs-12 background-container"></core-info>
</main>
