core-info{
  margin-bottom: 2rem;
}
.background-container{
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}
p{
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
#profilepic {
  border: 0.3rem solid white;
  height: 12rem;
  width: 15rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
#no-profilepic {
  border: 0.3rem solid white;
  height: 12rem;
  width: 12rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: lightgray;
}
#text-no-profilepic{
  margin-top: 4rem;
  color: whitesmoke;
}
