<main class="container">

  <div class="col-xs-12 background-container">
    <div class="row">
      <h1 class="text-center">{{friend.username}}</h1>
      <hr>
      <div id="personal-info">
        <p><strong class="col-xs-6">First name: </strong><span class="col-xs-6" *ngIf="friend.lastname"> {{friend.firstname}}</span>
          <span class="col-xs-6" *ngIf="!friend.firstname"> N/A</span></p>
        <p><strong class="col-xs-6">Last name: </strong><span class="col-xs-6" *ngIf="friend.lastname"> {{friend.lastname}}</span>
          <span class="col-xs-6" *ngIf="!friend.lastname"> N/A</span></p>
        <p><strong class="col-xs-6">City: </strong><span class="col-xs-6" *ngIf="friend.city">{{friend.city}}</span>
          <span class="col-xs-6" *ngIf="!friend.city"> N/A</span></p>
        <p><strong class="col-xs-6">Birthday: </strong><span class="col-xs-6" *ngIf="friend.birthday">{{friend.birthday}}</span>
          <span class="col-xs-6" *ngIf="!friend.birthday"> N/A</span></p>
        <p><strong class="col-xs-6">Gender: </strong>
          <span class="col-xs-6" *ngIf="friend.gender">
            <span *ngIf="friend.gender=='male'"><i class="fa fa-mars"></i></span>
            <span *ngIf="friend.gender=='female'"><i class="fa fa-venus"></i></span>
            <span *ngIf="friend.gender=='undefined'"><i class="fa fa-genderless"></i></span>
          </span>
          <span class="col-xs-6" *ngIf="!friend.gender"> N/A</span>
        </p>
      </div>
    </div>
  </div>

  <core-info [coreInfo]="coreInfo" class="col-xs-12 background-container"></core-info>
</main>
