<div class="avatars">

</div>
<div class="competition-summary">
  <p class="creation">
    <span><strong>Created by {{competition?.userCreated?.username}}</strong><br>{{competition?.time | date: 'yyyy/MM/dd HH:mm'}}</span>

  </p>

  <h1>{{competition?.name}} <span>{{competition?.goal?.name}}</span></h1>

  <p class="winner">Won by <span>{{competition?.userWon?.username}}</span></p>
  <p class="winning-data">
    <span>{{competition?.goal?.name}}</span>
    <span>{{duration | date: 'HH:mm:ss'}}</span>
    <span>{{competition?.trackings[0]?.avgSpeed}} | number : '1.0-2'  km/h</span>
  </p>
</div>

