:host {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.avatars {
  padding-right: 3rem;
  display: flex;
}

.person{
  background: gray;
  background-size: cover;

  width: 70px;
  height: 70px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

#firstPerson{
  margin-right: 1rem;
}

.competition-summary {
  width: 100%;
  color: #777777;
}

.creation {
  float: right;
  text-align: end;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0a568c;
  margin: 2rem 0 0.5rem 0;
  margin-top:0;
}

.winner {
  margin-bottom: 2rem;
}

.winner > span {
  font-weight: 600;
  color: #168b19;
}

.winning-data {
  margin: 0;
}

.winning-data > span {
  margin-right: 2rem;
}

a {
  text-decoration: none;
}
