#game-visualisation{
  background-color: whitesmoke;
  border: 0.1rem solid #777777;
  min-height: 50rem;
}

/*Timeline*/
h4{
  margin-left: 2.5rem;
}
#distance-to-go{
  color: green;
}
.timeline {
  list-style: none;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  left: 50%;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
}
.timeline > li:before,
.timeline > li:after {
  display: table;
}
.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-badge {
  position: absolute;
}

.timeline > li > .timeline-badge > img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge > .badge-text {
  color: #777777;
}
#badge-player-one{
  left:40%
}
#badge-player-two{
  left:50%
}

