<!--<div (click)="onclickUpdate()" id="game-visualisation">
  <h4><strong>Finish in: </strong><br>
    <span *ngIf="competition.goal" id="distance-to-go">{{competition.goal.distance}} meters</span></h4>
  <ul class="timeline">
    <li class="timeline">
      <div id="badge-player-one" class="timeline-badge">
        <img [src]="'../../../assets/avatars/'+competition.usersRun[0].avatar+'.png'">
      </div>
    </li>

    <li class="timeline">
      <div id="badge-player-two" class="timeline-badge">
          <img [src]="'../../../assets/avatars/'+competition.usersRun[1].avatar+'.png'">
      </div>
    </li>
  </ul>
</div>-->
<div *ngFor="let challenger of competition?.usersRun">
  <div>{{challenger?.userId}}</div>
  <div>{{hashmap[challenger?.userId]}}</div>
</div>
