@import url("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
.container{
  background: white;
  background-size: cover;
}
.wrapper{
  min-height: 960px;
}
label.gender {
  padding-top: 0 !important;
}
table tr th{
  background: white;
}
hr{
  padding-bottom: 5rem;
}
.custom-navigation{
  padding-bottom: 5rem;
  background: white;
}


