/*@import url("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");*/

.container {
  min-height: 80vh;
  padding: 1rem 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #999;
  margin-top: 1rem;
}

#btn-new-challenge {
  margin-bottom: 3rem;
}

.badge{
  margin-left: 1rem;
  background-color: #9e9e9e;
}

label.gender {
  padding-top: 0 !important;
}

.extra-margin {
  margin-left: 0.5rem;
}

.challengeList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.challengeListItem {
  border-bottom: 1px solid #e8e8e8;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.challengeListItem:hover {
  background: #f2f2f2;
}

.challengeListItem:last-child {
  border-bottom: none;
}

.challengeListItem > .btn-success, .challengeListItem > .btn-danger {
margin-right: 1rem;
}


