<div class="container">
  <h1 class="text-center text-info">My challenges</h1>
  <hr>
  <div class="container-fluid custom-navigation">
    <form class="navbar-form">
      <button class="btn btn-info" data-toggle="modal" data-target="#competitionModal" (click)="onClickNewCompetition()">New
        Challenge
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </form>
  </div>

  <div class="clearfix"></div>

  <!-- Tabs competing & created -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#running">Running challenges</a></li>
    <li><a data-toggle="tab" href="#created">Created challenges</a></li>
    <li><a data-toggle="tab" href="#available">Available challenges</a></li>
  </ul>

  <div class="tab-content">

    <!--Tab with running challenges -->
    <div id="running" class="tab-pane fade">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Challenge ID</th>
            <th>Competition type</th>
            <th>Maximum participants</th>
            <th>Goal</th>
            <th>Deadline</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let competition of competitionsRun">
            <td>
              <span *ngIf="competition.competitionId">{{competition.competitionId}}</span></td>
            <td><span *ngIf="competition.competitionType=='NOT_REALTIME'">Challenge</span><span *ngIf="competition.competitionType=='REALTIME'">Live Challenge</span></td>
            <td><span *ngIf="competition.maxParticipants">{{competition.maxParticipants}}</span></td>
            <td><span *ngIf="competition.goal">{{competition.goal.name}}</span></td>
            <td><span *ngIf="competition.deadline">{{competition.deadline}}</span></td>
            <td><span *ngIf="competition.finished==true">Closed</span><span *ngIf="competition.finished==false">Open</span></td>
          </tr>
        </table>
      </div>
    </div>
    <!--Tab with created challenges -->
    <div id="created" class="tab-pane fade">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Challenge ID</th>
            <th>Competition type</th>
            <th>Maximum participants</th>
            <th>Goal</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let competition of competitionsCreated">
            <td>
              <span *ngIf="competition.competitionId">{{competition.competitionId}}</span></td>
            <td><span *ngIf="competition.competitionType=='NOT_REALTIME'">Challenge</span><span *ngIf="competition.competitionType=='REALTIME'">Live Challenge</span></td>
            <td><span *ngIf="competition.maxParticipants">{{competition.maxParticipants}}</span></td>
            <td><span *ngIf="competition.goal">{{competition.goal.name}}</span></td>
            <td><span *ngIf="competition.deadline">{{competition.deadline}}</span></td>
            <td><span *ngIf="competition.finished==true">Closed</span><span *ngIf="competition.finished==false">Open</span></td>
            <td>
              <button (click)="onClickDeleteCompetition(competition.competitionId)" class="btn btn-danger col-md-offset-1" title="Delete"><span
                class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--Tab with available challenges -->
    <div id="available" class="tab-pane fade">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Challenge ID</th>
            <th>Competition type</th>
            <th>Maximum participants</th>
            <th>Goal</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Compete</th>
          </tr>
          <tr *ngFor="let competition of competitionsAvailable">
            <td>
              <span *ngIf="competition.competitionId">{{competition.competitionId}}</span></td>
            <td><span *ngIf="competition.competitionType=='NOT_REALTIME'">Challenge</span><span *ngIf="competition.competitionType=='REALTIME'">Live Challenge</span></td>
            <td><span *ngIf="competition.maxParticipants">{{competition.maxParticipants}}</span></td>
            <td><span *ngIf="competition.goal">{{competition.goal.name}}</span></td>
            <td> <span *ngIf="competition.deadline">{{competition.deadline}}</span></td>
            <td> <span *ngIf="competition.finished==true">Closed</span><span *ngIf="competition.finished==false">Open</span></td>
            <td>
              <button (click)="onClickAddCompetition(competition.competitionId)" data-dismiss="modal" class="btn btn-success text col-md-offset-1">
              <span class="glyphicon glyphicon-flag"></span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>


  <!-- Modal create competition -->
  <div class="modal fade" id="competitionModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-info">Create new challenge</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="createform">
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Type:</label>
              <div class="col-md-6">
                <select class="form-control" name="competitiontype" [(ngModel)]="newCompetition.competitionType">
                  <option value="NOT_REALTIME" selected>Challenge</option>
                  <option value="REALTIME">Live challenge</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Deadline:</label>
              <div class="col-md-6">
                <input class="form-control" type="date" name="deadline" [ngModel]="newCompetition.deadline | date:'yyyy-MM-dd'">
              </div>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Max participants:</label>
              <div class="col-md-6">
                <input class="form-control" type="number" value="2" name="maxParticipants"
                       [(ngModel)]="newCompetition.maxParticipants">
              </div>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Goal:</label>
              <div class="col-md-6">
                <select class="form-control" [(ngModel)]="newCompetition.goal" name="goal">
                  <option *ngFor="let goal of goals" [ngValue]="goal">{{goal.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group text-right">
            </div>
          </form>

          <!--modal footer-->
          <div class="modal-footer">
            <button (click)="onClickCreateCompetition(newCompetition)" data-dismiss="modal" class="btn btn-primary">Create
              challenge
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
