.container {
  min-height: 80%;
  padding: 1rem 3rem;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-content {
  min-width: 100rem;
  min-height: 60rem;
}

h4 {
  font-weight: 700;
}

h5 {
  color: #868686;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #999;
  margin-top: 1rem;
}

.challengeList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.challengeListItem {
  border-bottom: 1px solid #e8e8e8;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.challengeListItem:hover {
  background: #f2f2f2;
}

.challengeListItem:last-child {
  border-bottom: none;
}

#player-one {
  float: left;
  min-height: 60vh;
}

#player-two {
  float: right;
  min-height: 60vh;
}

