<div class="container">
  <h1 class="text-center text-info">My challenges</h1>
  <hr>
  <div class="container-fluid custom-navigation">
    <form class="navbar-form">
      <button class="btn btn-info" data-toggle="modal" data-target="#competitionModal" (click)="onClickNewCompetition()">New
        Challenge
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addcompetitionModal">Compete <span
        class="glyphicon glyphicon-flag"></span></button>
    </form>
  </div>

  <div class="clearfix"></div>

  <!-- Competitions table -->
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Challenge ID</th>
        <th>Competition type</th>
        <th>Maximum participants</th>
        <th>Goal</th>
        <th>Deadline</th>
        <th>Winner</th>
        <th>Created by</th>
        <th>Finished</th>
        <th>Delete</th>
      </tr>
           <tr *ngFor="let competition of competitionsRun">
             <td>
               <span>{{competition.competitionId}}</span></td>
             <td *ngIf="competition.competitionType=='NOT_REALTIME'">Challenge</td><td *ngIf="competition.competitionType=='REALTIME'">Live Challenge</td>
             <td>{{competition.maxParticipants}}</td>
             <td *ngIf="competition.goal">{{competition.goal.name}}</td> <td *ngIf="!competition.goal">/</td>
             <td>{{competition.deadline}}</td>
             <td *ngIf="competition.userWon">{{competition.userWon.username}}</td> <td *ngIf="!competition.userWon">/</td>
             <td *ngIf="competition.userCreated">{{competition.userCreated.username}}</td><td *ngIf="!competition.userCreated">/</td>
             <td>{{competition.finished}}</td>
             <td>
               <button *ngIf="competition.userCreated && competition.userCreated.username==user.username" (click)="onClickDeleteCompetition(competition.competitionId)" class="btn btn-danger" title="Delete"><span
                 class="glyphicon glyphicon-trash"></span></button>
             </td>
           </tr>
    </table>
  </div>

  <!-- Modal create competition -->
  <div class="modal fade" id="competitionModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-info">Create new competition</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal alert alert-info" id="createform">
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Type:</label>
              <div class="col-md-6">
                <select class="form-control" name="competitiontype" [(ngModel)]="newCompetition.competitionType">
                  <option value="NOT_REALTIME" selected>Challenge</option>
                  <option value="REALTIME">Live challenge</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Deadline:</label>
              <div class="col-md-6">
                <input class="form-control" type="date" name="deadline" [(ngModel)]="newCompetition.deadline">
              </div>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Max participants:</label>
              <div class="col-md-6">
                <input class="form-control" type="number" value="2" name="maxParticipants"
                       [(ngModel)]="newCompetition.maxParticipants">
              </div>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
              <label class="col-md-6 control-label">Goal:</label>
              <div class="col-md-6">
                <select class="form-control" ng-model="newCompetition.goal">
                  <option *ngFor="let goal of goals" ng-value="goal">{{goal.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group text-right">
            </div>
          </form>

          <!--modal footer-->
          <div class="modal-footer">
            <button (click)="onClickCreateCompetition(newCompetition)" data-dismiss="modal" class="btn btn-primary">Create
              challenge
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal add competition -->
  <div class="modal fade" id="addcompetitionModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-info">Compete</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal alert alert-info" id="addform">

            <div class="form-group col-md-10 col-md-offset-1">
              <h4 class="text-center">Compete at an existing challenge: </h4>
              <select class="form-control col-md-8 col-md-offset-2" [(ngModel)]="competitionIdToCompete" size="10" name="selectCompetition">
                <option *ngFor="let competition of competitionsAvailable" [ngValue]="competition.competitionId">
                  Challenge {{competition.competitionId}}
                </option>
              </select>
            </div>
            <div class="form-group text-right">
            </div>
          </form>
          <!--modal footer-->
          <div class="modal-footer">
            <button (click)="onClickAddCompetition(competitionIdToCompete)" data-dismiss="modal" class="btn btn-primary">Compete
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
