<div class="container wrapper" ng-controller="ChallengeController">
  <h1 class="text-center">My challenges</h1>
  <hr>
  <div class="row col-sm-12">
    <!--left-->
    <div class="form-group col-sm-6">
        <button class="btn btn-primary" href="#creatediv" data-toggle="collapse">New challenge <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
    <!--right-->
    <div class="form-group col-sm-6">
      <div class="col-sm-6 right">
        <select class="form-control" id="competeSelect">
          <option>Competition 1</option>
          <option>Competition 2</option>
          <option>Competition 3</option>
          <option>Competition 4</option>
        </select>
      </div>
        <button class="btn btn-success col-sm-6 right">Compete <span class="glyphicon glyphicon-flag"></span></button>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- Competitions table -->
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Challenge ID</th>
        <th>Competition type</th>
        <th>Maximum participants</th>
        <th>Goal</th>
        <th>Deadline</th>
        <th>Winner</th>
        <th>Created by</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="competition in competitions">
        <td>
          <span>1</span></td>
        <td>Realtime</td>
        <td>4</td>
        <td>1000m</td>
        <td>18/02/2017</td>
        <td>/</td>
        <td>Runtrack minds</td>
        <td>Open</td>
        <td>
          <button class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>

    <div class="clearfix"></div>

    <!--Create competition-->
    <div class="col-md-6 col-md-offset-3 collapse"  id="creatediv">
      <form class="form-horizontal alert alert-info" id="createform">
        <h3 class="text-center">Create new competition</h3>

        <div class="form-group">
          <label class="col-md-6 control-label">Competition type:</label>
          <div class="col-md-6">
            <div class="ui-select">
              <select class="form-control"  name="goal">
                <option value="1">Realtime</option>
                <option value="2">Not-realtime</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-6 control-label">Deadline:</label>
          <div class="col-md-6">
            <input class="form-control" type="date"  name="deadline">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Max participants:</label>
          <div class="col-md-6">
            <input class="form-control" type="number" name="maxParticipants">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Goal:</label>
          <div class="col-md-6">
            <div class="ui-select">
              <select class="form-control"  name="goal">
                <option value="1">100m</option>
                <option value="2">1000m</option>
                <option value="3">2000m</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-warning center">Create challenge</button>
        </div>
      </form>
    </div>
  </div>
</div>
