@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
.container{
  background-size: cover;
}
.wrapper{
  min-height: 960px;
}
label.gender {
  padding-top: 0 !important;
}
table tr th{
  background: #f8f8f8;
}
hr{
  padding-bottom: 5rem;
}

