<div class="background-container container">
  <h1>Ranking</h1>
  <hr>

  <!--tabs-->
  <ul class="nav nav-tabs">
    <li class="active"><a id="tab-running" data-toggle="tab" href="#friends">Friends</a></li>
    <li><a id="tab-created" data-toggle="tab" href="#world">World</a></li>
  </ul>

  <!--Tab with friends -->
  <div id="friends" class="tab-pane fade">
    <ranking-table></ranking-table>
  </div>

  <!--Tab with all users worldwide -->
  <div id="world" class="tab-pane fade">
    <ranking-table></ranking-table>
  </div>

</div>

