.background-container {
  margin-bottom: 3rem;
}

tbody tr:first-child {
  font-weight: bold;
}

#orderby {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align-last: center;
  font-weight: bold;
}

.gold {
  color: #fae157;
}

.option-text {
  font-weight: bold;
}

table{
  border: 1px solid #ddd;
}

th {
  background-color: #dedede;
}

tr {
  cursor: pointer;
}

thead {
  border-bottom: 0.3rem solid darkgray;
}

.btn-active {
  background-color: #dedede;
}

.fa-globe, .fa-users {
  color: #2e87fe;
}

.btn-active {
  color: white;
  background: #2e87fe;
  border: 1px solid #2e87fe;
}

.btn-active > .fa-globe, .btn-active > .fa-users {
  color: white;
}

button {
  border: 0.1rem solid darkgray;
  outline: none;
}

button:focus, button:active {
  outline: none !important;
}

