<div class="background-container container">
  <h1>Ranking <i class="fa fa-trophy gold" aria-hidden="true"></i></h1>
  <hr>

  <div class="row col-xs-10 col-xs-offset-1">
    <button id="button-world" type="button" class="col-xs-6 btn btn-default" (click)="getUsers(orderOption)">
      World <i class="fa fa-globe" aria-hidden="true"></i>
    </button>
    <button id="button-friends" type="button" class="col-xs-6 btn btn-default" (click)="getFriends(orderOption)">
      Friends <i class="fa fa-users" aria-hidden="true"></i>
    </button>
  </div>

  <div class="row col-xs-10 col-xs-offset-1">
  <div id="orderby" class="row col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <div class="col-xs-6 col-xs-offset-3">
        <select class="form-control" id="order-option" [(ngModel)]="orderOption" name="order-option"
                (ngModelChange)="onChangeOrder($event)">
          <option value="1">Average distance</option>
          <option value="2">Average speed</option>
          <option value="3">Max distance</option>
          <option value="4">Max speed</option>
          <option value="5">Nr. of competitions won</option>
          <option value="6">Nr of competitions done</option>
          <option value="7">Won ratio</option>
          <option value="8">Total distance</option>
        </select>
      </div>
    </div>
  </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-xs-4">Rank</th>
      <th class="col-xs-4">Username</th>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==1">Average distance</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==2">Average speed</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==3">Max distance</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==4">Max speed</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==5">Nr. of competitions won</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==6">Nr. of competitions done</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==7">Won ratio</td>
      <td class="option-text col-xs-4 text-center" *ngIf="orderOption==8">Total distance</td>
    </thead>

    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.username}}</td>
      <td class="text-center" *ngIf="orderOption==1">{{user.avgDistance / 1000}} km</td>
      <td class="text-center" *ngIf="orderOption==2">{{user.avgSpeed}} km/h</td>
      <td class="text-center" *ngIf="orderOption==3">{{user.maxDistance / 1000}} km</td>
      <td class="text-center" *ngIf="orderOption==4">{{user.maxSpeed}} km/h</td>
      <td class="text-center" *ngIf="orderOption==5">{{user.nrOfCompetitionsWon}}</td>
      <td class="text-center" *ngIf="orderOption==6">{{user.nrOfCompetitionsDone}}</td>
      <td class="text-center" *ngIf="orderOption==7 && user.nrOfCompetitionsDone != 0">{{((user.nrOfCompetitionsWon /
        user.nrOfCompetitionsDone)*100) | number : '1.0-2' }} %
      </td>
      <td class="text-center" *ngIf="orderOption==7 && user.nrOfCompetitionsDone == 0">0 %</td>
      <td class="text-center" *ngIf="orderOption==8">{{user.totalDistance / 1000}} km</td>
    </tr>
    </tbody>

  </table>

</div>

